
body
{
width: 500px;
height: 200px;
font:10px segoe ui,tahoma;
color:black;
margin:0;
border:2px outset gray;
cursor:default;
}

input
{font:12px segoe ui,tahoma;}
img
{border:0;}
.paddingLft5
{padding-left:5px;}
.paddingLft0
{padding-left:0px;}
.spanTxt
{
font:11px segoe ui,tahoma;
font-weight:bold;
color:#ffffff;
}
.margintop5
{margin-top:-7px;}